{% extends "base.html" %}
{% block content %}
<body>
    <h1>Brands Detection</h1>
    <p style="font-size:15px;">Brands Detection is a specific model for Object detection which returns a bounding box for each brand found in a supplied image. For example, if an image contains a Microsoft logo 
        the operation will list the brand name alongside the coordinates of the brand in the image. It lets the user identify the area the exists aswell as to determine whether there are multiple instances of the same brand in the image.
        The response also includes the models confidence score (0-100%) that an brands lies within the returned bounding box coordinates. The main difference between brands and object detection is the underlying dataset which each model
        has been trained on. Brands Detection was trained using data specific to branding, while the Object Detection model was trained with general objects and labels.
        Read more <a href="https://learn.microsoft.com/en-us/azure/cognitive-services/computer-vision/concept-object-detection" target="_blank">here</a>. 
    <p style="font-size:15px;">The demo below highlights and returns the detected brand and bounding boxes using Azure Brand Detection.</p>
    <center>
        <form method="post" action="{{url_for('brandsdetection')}}" enctype = "multipart/form-data">
            <table>
                <tr>
                    <td align="right"><label for="fontSizeProp">Font Size: </label></td>
                    <td><input type="text" name="fontSizeProp" value="{{fontSizeProp}}"size="7"/></td>
                    <td align="right"><label for="HexProp">Hexadecimal Colour: </label></td>
                    <td><input type="text" name="HexProp" value="{{HexProp}}"size="8"/></td>
                </tr>
                <tr>
                    <td align="right"><label for="image">File: </label></td>
                    <td><input type="file" name="image" required="required"/></td>
                    <td></td>
                    <td><button type="submit" class="button">Submit File</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right"><label for="HexProp">Model Confidence (%): </label></td>
                    <td><input type="text" name="ModelConfidence" value="{{ModelConfidence}}"size="1"/></td>
                    <td></td>
                </tr>
            </table>
        </form></br>
        <p style="font-size:15px;">Adjust model confidence, font size and colour for clearer results.</p>
        <p style="font-size:15px;">Please upload an image* with text, in PNG, JPEG, or JPG format.</p>
        <div id="boxwrapper">
            <div id="box-1" class="box">
                <img src="./static/assets/{{image_upload}}" hspace="0px" vspace="0px" alt="Your Image"></img>
            </div>
            <div id="box-2" class="box">
                <img src="./static/assets/{{image_return}}" hspace="0px" vspace="0px" alt="Returned Image"></img>
            </div>
        </div>	
        <div id="boxwrapper">
            <div id="box-3" class="box">
                <p style="font-size:10px;"><I>{{image_upload_caption}}</I></p>
            </div>
            <div id="box-4" class="box">
                <p style="font-size:10px;"><I>{{image_return_caption}}</I></p>
            </div>
        </div>	
    </center>
</body>

{% endblock %}