{% extends "base.html" %}
{% block content %}
<!-- Name: dstoolkit-computervisiondemo -->

<body>
    <h1>Detect Sensitive Content</h1>
    <p style="font-size:15px;">Computer Vision models like the one presented in this demo can be trained to detect adult material in images so developers can restrict the display of these images in their software. 
        Scores are applied between zero and one (or converted into a percentage) so developers can interpret the results according to their own preferences. For example, anything under 20% gore can be displayed.
        Adult images are explicitly sexual, Racy images are sexually suggestive and Gory images show blood/gore.
        Read more <a href="https://learn.microsoft.com/en-us/azure/cognitive-services/computer-vision/concept-detecting-adult-content" target="_blank">here</a>. 
    <p style="font-size:15px;">The demo below allows a user to choose between three images and their Adult, Racy, and Gory scores are returned.</p>
    <center>
        <div id="boxwrapper">
            <div id="box-1" class="box">
                <img src="./static/assets/img/London.jpg" hspace="0px" vspace="0px" alt="London Image"></img>
            </div>
            <div id="box-2" class="box">
                <img src="./static/assets/img/Knights.jpg" hspace="0px" vspace="0px" alt="Knights Image"></img>
            </div>
            <div id="box-5" class="box">
                <img src="./static/assets/img/Sea.jpg" hspace="0px" vspace="0px" alt="Sea Image"></img>
            </div>
        </div>	
        <div id="boxwrapper">
            <div id="box-3" class="box">
                <p style="font-size:15px;">London</p>
            </div>
            <div id="box-4" class="box">
                <p style="font-size:15px;">Knights</p>
            </div>
            <div id="box-6" class="box">
                <p style="font-size:15px;">Sea</p>
            </div>
        </div>	
        <br>
        <form method="post" action="{{url_for('detectsensitive')}}" enctype = "multipart/form-data">
            <table>
                <tr>
                    <td align="right"><label>Select Image: </label></td>
                    <td align="right">
                        <select name="select_img" id="select_img">
                            <option value="London">London</option>
                            <option value="Knights">Knights</option>
                            <option value="Sea">Sea</option>
                        </select>
                    </td>
                    <td><button type="submit" class="button">Submit File</button></td>
                    <td></td>
                </tr>
            </table>
        </form></br></br>
        <p style="font-size:18px;"><b>{{adult_string}}</b></p>
        <p style="font-size:18px;"><b>{{racy_string}}</b></p>
        <p style="font-size:18px;"><b>{{gore_string}}</b></p>
    </center>
</body>

{% endblock %}