{% extends "base.html" %}
{% block content %}
<body>
    <h1>Microsoft Computer Vision Demo</h1>
    <p style="font-size:15px;">Computer Vision is a subfield of Artificial Intelligence which enables machines and computers to gain insight, infomation or knowlege from
        images or videos. It is used extensively across various industries such as energy, public sector, manufacturing, retail, automotive and more.
        Tasks are varied and cover a variety of uses. This demo website hosts a variety of these use cases, both Azure based and custom Computer Vision models are demoed. Each Computer Vision
        technique can be applied to videos aswell using each frame as an image. See below for simple examples and use the navigation panel on the left to navigate between the pages where you can upload your own images* and see the power of Computer Vision first hand. </p> 

    <p style="font-size:15px;">
        Read more about Microsoft Computer Vision documentation and SDKs <a href="https://learn.microsoft.com/en-gb/azure/cognitive-services/computer-vision/" target="_blank">here</a>, 
        Microsoft Computer Vision offerings <a href="https://azure.microsoft.com/en-gb/products/cognitive-services/computer-vision/" target="_blank">here</a> 
        and Microsoft Custom Vision offerings <a href="https://azure.microsoft.com/en-us/products/cognitive-services/custom-vision-service/" target="_blank">here</a>.
        Alternatively, click the Resources dropdown menu on the top right to see options for both Microsoft Learn, Data Science Toolkit and the Azure Vision Studio.
    </p> 

    <h5>Demos</h5>
    <p style="font-size:15px;">
        Click each picture to go to the relevant page.
            In addition to each of these, there are also dedicated Face services, however to promote responsible AI, these are only avalible by request.
                Read more about this decision <a href="https://azure.microsoft.com/en-gb/blog/responsible-ai-investments-and-safeguards-for-facial-recognition/" target="_blank">here</a>,
                and about the Face API offerings <a href="https://learn.microsoft.com/en-us/azure/cognitive-services/computer-vision/overview-identity" target="_blank">here</a>.  
    </p>
    <center>
        <table>
            <tr>
                <td>
                    <center>
                        <b>Optical Character Recognition</b>
                        <div>
                            <a href="{{url_for('ocr')}}"><img src="/static/assets/img/OCR_post.jpeg" height="300px" hspace="5px" vspace="0px" alt="Your Image"></img></a></br></br>
                        </div>
                    </center>
                </td>
                <td>
                    <center>
                        <b>Object Detection</b>
                        <div>
                            <a href="{{url_for('objectdetection')}}"><img src="/static/assets/img/OD_post.jpg" height="300px" hspace="5px" vspace="0px" alt="Your Image"></img></a></br></br>
                        </div>
                    </center>
                </td>
                <td>
                    <center>
                        <b>Brands Detection</b>
                        <div>
                            <a href="{{url_for('brandsdetection')}}"><img src="/static/assets/img/BD_post.jpg" height="300px" hspace="5px" vspace="0px" alt="Your Image"></img></a>
                        </div>
                    </center>
                </td>
            </tr>
            <br><br>
            <tr>
                <td>
                    <center>
                        <b>Image Captioning</b>
                        <div>
                            <a href="{{url_for('tagdescribe')}}"><img src="/static/assets/img/cap_pre_text.jpg" height="300px" hspace="5px" vspace="0px" alt="Your Image"></img></a>
                        </div>
                    </center>
                </td>
                <td>
                    <center>
                        <b>Image Classification</b>
                        <div>
                            <a href="{{url_for('imageclassification')}}"><img src="/static/assets/img/IC_post.jpg" height="300px" hspace="5px" vspace="0px" alt="Your Image"></img></a>
                        </div>
                    </center>
                </td>
                <td>
                    <center>
                        <b>Detect Sensitive Content</b>
                        <div>
                            <a href="{{url_for('detectsensitive')}}"><img src="/static/assets/img/senCon_post.jpg" height="300px" hspace="5px" vspace="0px" alt="Your Image"></img></a>
                        </div>
                    </center>
                </td>
            </tr>
        </table>
    </center>
</body>


{% endblock %}